@font-face {
  font-family: 'Douhao', 'JustFontNumber', 'PingFangSC-Medium', 'PingFang SC', "Microsoft YaHei", sans-serif;
  src: url('/public/douhao.ttf') format('truetype'),
    url('/public/JustFontNumber.ttf') format('truetype'),
    url('/public/PingFangSC-Medium.ttf') format('truetype'),
    url('/public/PingFang.ttf') format('truetype');
  font-style: normal;
  font-display: normal;
}

.MuiTypography-root {
  font-family: 'Douhao', 'JustFontNumber', 'PingFangSC-Medium', 'PingFang SC', "Microsoft YaHei", sans-serif;
}

.typography {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 20px;
  color: #171717;
}

.typography:hover {
  cursor: 'pointer';
  color: '#0291ff'
}

.description {
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 22px;
  height: 65px;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  float: right;
  color: '#777777';
}

.descriptionmd {
  color: '#777777';
  text-overflow: ellipsis;
  margin-top: 5px;
  font-size: 16px;
  line-height: 25px;
  height: 110px;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  float: right;
}

.newstitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 20px;
}

.letestnewstitle {
  text-overflow: ellipsis;
  height: 70px;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  float: right;
  color: '#777777';
}

.title {
  color: #171717;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -.6px;
}

.centertext {
  font-weight: bold;
  text-align: center;
  position: absolute;
  color: #808080;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Slideshow */

.slideshowSlider {
  white-space: nowrap;
  transition: ease 3000ms;
}

.slide {
  display: inline-block;
  height: 450px;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}

/* @font-face {
  font-family: "Microsoft YaHei",sans-serif;
  src: url('/public/douhao.ttf');
  src: url('/public/JustFontNumber.ttf');
  src: url('/public/PingFangSC-Medium.ttf');
  src: url('/public/PingFang.ttf');
} */



body {
  background-color: #fbfbfe;
  font-family: 'Douhao', 'JustFontNumber', 'PingFangSC-Medium', 'PingFang SC', "Microsoft YaHei", sans-serif;

}

/* /////////////////////////// */

@media only screen and (max-width: 900px) {
  .column-right-link {
    display: flex;
    justify-content: center !important;
    margin-left: 0 !important;
    position: relative;
  }
}

.column-right-close {
  position: absolute;
  right: 1px;
  top: -17px;
  border: 1px solid;
  border-radius: 50%;
  color: #0288d1;
  display: flex;
}

/* .columnright-picture {} */
.status-tick {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  z-index: 1;
  border: 2px solid white;
  display: block;
}

.online-tick {
  background-color: #1fd11f;
  box-shadow: 0 0 0 rgba(31, 209, 31, 0.6);
  animation: online-pulse 2s infinite;
}

.offline-tick {
  background-color: #d11f1f;
  box-shadow: 0 0 0 rgb(209, 31, 31);
  animation: offline-pulse 2s infinite;

}

@-webkit-keyframes online-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(31, 209, 31, 0.6);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes online-pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(31, 209, 31, 0.6);
    box-shadow: 0 0 0 0 rgba(31, 209, 31, 0.8);
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@-webkit-keyframes offline-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgb(209, 31, 31);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes offline-pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgb(209, 31, 31);
    box-shadow: 0 0 0 0 rgb(209, 31, 31);
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.profile-picture-wrapper {
  display: flex;
  align-items: flex-end;
}

@media only screen and (max-width: 900px) {
  .online-tick {
    margin-left: 5px;
    margin-right: 2px;
    height: 12px;
    width: 12px;
  }
}